@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

/* General styles */
body {
    background-color: #F7FBFE; /* Set the page background color */
    color: #212529; /* Default text color */
    font-family: 'Proxima Nova', sans-serif; /* Default font for all text */
}

/* Headers and Navbar */
h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif; /* Use IBM Plex Serif for headers and navbar */
}
#navbar-text {
    font-size: 2rem; 
    font-weight: bold; 
    font-family: 'IBM Plex Serif', serif;
} 

#batchImportSpinner { display:none; } 

table {
    font-family: 'Proxima Nova', sans-serif; /* Use Proxima Nova for tables */
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
th, td {
    font-family: 'Proxima Nova', sans-serif; /* Use Proxima Nova for tables */
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: #e9ecef;
}

/* Page background */
body {
    background-color: #F7FBFE; /* Set the page background color */
    color: #212529; /* Optional: Set a default text color for readability */
    font-family: sans-serif; /* Optional: Set a default font for the page */
}

/* Button styles */
button.finbutton {
    background-color: #B0BE3F; 
    color: #1E3736; 
    padding: 1rem 1.5rem;
    font-family: sans-serif bold;
    font-size: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 1rem 0.5rem;
    border: none;
    font-weight: bold;
    transition: background-color 0.1s ease, box-shadow 0.1s ease; 
}

button.finbutton:hover {
    background-color: #9DAA37;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Footer styles */
tfoot td {
    text-align: right; /* Align text to the right */
    font-weight: bold; /* Make the text bold */
    padding: 0.75rem; /* Add consistent padding */
    border-top: 2px solid #dee2e6; /* Add a top border for separation */
}

button.finbutton-outline {
    border: 2px transparent #1E3736; /* Custom border */
    color: #1E3736; /* Custom text color */
    font-weight: bold; /* Make text bold */
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

button.finbutton-outline:hover {
    border: 2px solid #1E3736; /* Custom border */
    background-color: #1E3736; /* Custom hover background */
    color: #FFFFFF; /* Custom hover text color */
}